/* apply border-box; padding and margin to the entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* change the background-color and font-size of the body */
body {
    background-color: #d9dcd6;
    font-size: 16px;
}

/* change the font style, background-color, text color and add padding for the navigation bar at the top of page*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* change the Logo of the brand to a block element and modify the text size  */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* change text colour to a specific section of the Logo of the brand text */
h1 .seo {
    color: #d9dcd6;
}

/* style the navigation bar at the top of the page, remove the bullet symbol*/
header ul {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* make each element in the navigation bar to a seperate block */
header ul li {
    display: inline-block;
    margin-left: 25px;
}

/* remove the underline for the navigation bar text */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set the size and position of the main image */
figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* position the main section content of the page */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* position image for the first and third main content */
.float-left {
    float: left;
    margin-right: 25px;
}

/* position image for the second main content */
.float-right {
    float: right;
    margin-left: 25px;
}

/* set the box size, text type, text color and background-color of the main section */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* set the size of the images in the main content */
main img {
    max-height: 200px;
}

/* set margin and font size for main content headers */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* set the position of the side content to the right side of page, set the width,
text style and background-color of the side content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* set the text color and text bottom margin for the side content */
.benefit-lbc {
    margin-bottom: 32px;
    color: #ffffff;
}

/* set the text position and bottom margin for headers of side content */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* set the display property, margin and size of images for the side content */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* set padding size, text style and alignment for the content in the footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* change the text size of the first line in the footer section */
footer h2 {
    font-size: 20px;
}
